
.App_men {
  position: relative;
  right: 0px;
  transition: all 300ms;
  height: 100vh;
  text-align: center;
  
} 
.App_move {
  position: relative;
  right: 220px;
  transition: all 300ms;
  height: 100vh;
}

.item1 {
  height: auto;
}

.item2 {
  height: auto;
}
.item3 {
  height: auto;
}
.item4 {
  height: auto;

}

